<div class="container bgcolor">
  <div class="card col-md-6 mt-3 mx-auto">
    <div class="card-body">
    
      <form (ngSubmit)="registration()" [formGroup]="registrationForm" novalidate>
        <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
          <!--Username or password incorrect.-->
        </div>
        <div class="form-group">
            <label class="d-block">
                <input type="text" class="form-control" formControlName="firstname" autocomplete="firstname"
                       [placeholder]="'FirstName'"/>
                <span hidden translate>Firstname</span>
                <small [hidden]="registrationForm.controls.firstname.valid || registrationForm.controls.firstname.untouched"
                       class="text-danger" translate>
                  Firstname is required
                </small>
              </label>
              <label class="d-block">
                  <input type="text" class="form-control" formControlName="lastname" autocomplete="lastname"
                         [placeholder]="'LastName'"/>
                  <span hidden translate>Lastname</span>
                  <small [hidden]="registrationForm.controls.lastname.valid || registrationForm.controls.lastname.untouched"
                         class="text-danger" translate>
                         Lastname is required
                  </small>
                </label>
                <label class="d-block">
                    <input type="email" class="form-control" formControlName="email" autocomplete="email"
                           [placeholder]="'Email'" (blur)="onSplit($event.target.value)" />
                    <span hidden translate>Emailname</span>
                    <small [hidden]="registrationForm.controls.email.valid || registrationForm.controls.email.untouched"
                           class="text-danger" translate>
                           EMail is required
                    </small>
                  </label>

                  <label class="d-block" class="form-control">
                  <input type="radio"  formControlName="gender" autocomplete="gender"
                  [placeholder]="'Gender'">Male
                  <input type="radio" formControlName="gender" autocomplete="gender"
                  [placeholder]="'Gender' " >Female
                  <small [hidden]="registrationForm.controls.gender.valid || registrationForm.controls.gender.untouched"
                  class="text-danger" translate>
                  Gender is required
           </small>
                    </label>
            <label class="d-block">
            <input type="text" class="form-control" formControlName="userid" autocomplete="userid"
                   [placeholder]="'Userid'"/>
            <span hidden translate>UserId</span>
            <small [hidden]="registrationForm.controls.userid.valid || registrationForm.controls.userid.untouched"
                   class="text-danger" translate>
              UserId is required
            </small>
          </label>
          <label class="d-block">
            <input type="password" class="form-control" formControlName="password" autocomplete="current-password"
                   [placeholder]="'Password'" required/>
            <span hidden translate>Password</span>
            <small [hidden]="registrationForm.controls.password.valid || registrationForm.controls.password.untouched"
                   class="text-danger" tanslate>
              Password is required
            </small>
          </label>
        </div>
        <button class="btn btn-primary w-100" type="submit" [disabled]="registrationForm.invalid || isLoading">
          <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
          <span translate>Sign Up</span>
        </button>
      </form>
    </div>
  </div>
</div>