<div class="container-fluid bgcolor" style="height: 450px;">
  <div class="text-center">
    <h1>
      
      <span >Dash Board Page!</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    
  <a [routerLink]="['dashboard/edit']">edit</a>
  <label>{{ isLogin }}</label>
  <label>{{ isAdmin }}</label>
  <button class="dropdown-item" (click)="logout()" translate> <i class="fas fa-sign-out-alt"></i>Logout</button>

  <table class="table table-hover">
    <thead>
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Religion</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody > 
        <tr *ngFor="let customer of customerList" >
            <td>{{ customer.name }}</td>
            <td>{{ customer.age }}</td>
            <td>{{ customer.religion }}</td>
            <td *ngIf="isAdmin"> <a [routerLink]="['/edit', customer.id]" class="btn btn-primary">Edit</a></td>
            <td *ngIf="isAdmin"> <button (click)="deleteCustomer(customer.id)"  class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
  </div>
</div>

