<div class="container bgcolor" style="height: 450px;">
  <div class="text-center">
    <h1>
      
      <span >Dash Board Page!</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
  <!--  
  <a [routerLink]="['dashboard/edit']">edit</a>
    <button class="dropdown-item" (click)="logout()" translate> <i class="fas fa-sign-out-alt"></i>Logout</button>
  -->
  <table align class="table table-hover">
    <thead>
    <tr>
        <td>Name</td>
        <td>Date Of Birth Year </td>
        <td>Education</td>
        <td>Religion</td>
        <td>Food Habbit</td>
        <td>Relocation</td>

        
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody > 
        <tr *ngFor="let customer of customerList" >
            <td>{{ customer.name }}</td>
            <td>{{ customer.dobYear }}</td>
            <td>{{ customer.education }}</td>
            <td>{{ customer.religion }}</td>
            <td>{{ customer.foodHabit }}</td>
            <td>{{ customer.relocation }}</td>
            <td disabled=""> <a [routerLink]="['/view', customer.id]" class="btn btn-primary">Edit</a></td>
            <td *ngIf="isAdmin"> <a [routerLink]="['/edit', customer.id]" class="btn btn-primary">Edit</a></td>
            <td *ngIf="isAdmin"> <button (click)="deleteCustomer(customer.id)"  class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
  </div>
</div>

